body {
  font-family: "Courier New", Courier, monospace;
  animation: colorchange 3s forwards linear normal infinite;
}

@keyframes colorchange {
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  75% {
    background: green;
  }
  100% {
    background: red;
  }
}

.container {
  height: 100px;
  display: grid;
  grid-template-columns: 100px 3fr 100px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header nav"
    "left content right"
    "footer footer footer";
}

.header {
  padding: 1em;
  grid-area: header;
}

.nav {
  padding: 1em;
  grid-area: nav;
}
.content {
  padding: 1em;
  grid-area: content;
}
.left {
  padding: 1em;
  grid-area: left;
}

.right {
  padding: 1em;
  grid-area: right;
}
.footer {
  padding: 1em;
  grid-area: footer;
  color: green;
}

.flex {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.subtitle {
  display: inline;
}

.submitForm {
  float: right;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

table {
  width: 100%;
  margin-top: 30px;
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Courier New", Courier, monospace;
}
table thead th {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
.colDesc {
  width: 100%
}

.button1 {
  width: 150px;
  height: 30px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
}
