<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <link id="theme" rel="stylesheet" href="../../style/style.css" />

    <script src="../../libs/handlebars-v4.1.2.js" defer></script>
    <script src="../../util/handlebars-helpers.js" defer></script>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Bucket List</h1>
      </div>
      <div class="nav">
        <label class="control control-checkbox">
          Ugly
          <input id="styleSwitcher" type="checkbox" />
          <div class="control_indicator"></div>
        </label>
      </div>
      <div class="left"></div>
      <div class="content">
        <div class="flex">
          <h2 class="subtitle">Things to do</h2>
          <span class="spacer"></span>
          <button class="button1" id="navigateToCreate">
            Have something in mind...
          </button>
        </div>
        <fieldset>
          <legend>Filter</legend>
          <form id="orderForm" class="flex">
            <label>Order by:</label>
            <label class="alignleft">
              <input id="orderByEndDate" type="radio" name="orderType" />
              Due by
            </label>
            <label class="alignleft">
              <input id="orderByCreateDate" type="radio" name="orderType" />
              Create date
            </label>
            <label class="alignleft">
              <input id="orderByRelevance" type="radio" name="orderType" />
              Relevance
            </label>
            <span class="spacer"></span>

            <label class="control control-checkbox">
              Done
              <input id="showDone" type="checkbox" />
              <div class="control_indicator"></div>
            </label>
          </form>
        </fieldset>

        <div id="thingContainer"></div>
      </div>
      <div class="right"></div>
      <div class="footer"></div>
    </div>

    <script type="module" src="./list-bootstrapper.js" defer></script>

    <script id="thing-template" type="text/x-handlebars-template">
      <table class="table table-striped">
          <thead>
          <tr>
              <th class="colDesc">Description</th>
              <th>Relevance</th>
              <th>Due to</th>
              <th>Create date</th>
              <th>State</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {{#each things}}
          <tr>
              <td>{{description}}</td>
              <td>{{mapRelevance relevance}}</td>
              <td>{{formatDate endDate}}</td>
              <td>{{formatDate createDate}}</td>
              <td>{{state}}</td>
              <td>{{#ifCond state '===' 'NEW'}}
                  <button data-id="{{_id}}" class="button1 btn btn-default js-edit" data-feather="circle">Edit</button>
                  <button data-id="{{_id}}" class="button1 btn btn-default js-done">Been there, done that!</button>
                  {{/ifCond}}
              </td>
          </tr>
          {{/each}}
          </tbody>
      </table>
    </script>
  </body>
</html>
