<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <link id="theme" rel="stylesheet" href="../../style/style.css" />

    <script src="../../libs/handlebars-v4.1.2.js" defer></script>
    <script src="../../util/handlebars-helpers.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>My Bucket List</h1>
      </div>
      <div class="nav">
        <button class="button1" id="navigateToCreate">
          Just had a new idea!
        </button>
        <input id="styleSwitcher" type="checkbox" />
      </div>
      <div class="left"><p>left</p></div>
      <div class="content">
        <h2>Things to do</h2>
        <form id="relevanceForm">
          <input id="sortByDate" type="radio" name="orderType" />
          <label forreleva="sortByEndDate">Sort by Due to</label>
          <input id="sortByDate" type="radio" name="orderType" />
          <label forreleva="sortByCreateDate">Sort by Create date</label>
          <input id="sortByDate" type="radio" name="orderType" />
          <label forreleva="sortByRelevance">Sort by Relevance</label>
        </form>
        <div id="thingContainer"></div>
      </div>
      <div class="right"><p>right</p></div>
      <div class="footer"><p>footer</p></div>
    </div>

    <script type="module" src="./list-bootstrapper.js" defer></script>

    <script id="thing-template" type="text/x-handlebars-template">
      <table class="table table-striped">
          <caption>
              Things:
          </caption>
          <thead>
          <tr>
              <th>Description</th>
              <th>Relevance</th>
              <th>Due to</th>
              <th>Create date</th>
              <th>Edit</th>
          </tr>
          </thead>
          <tbody>
          {{#each things}}
          <tr>
              <td>{{description}}</td>
              <td>{{relevance}}</td>
              <td>{{formatDate endDate}}</td>
              <td>{{formatDate createDate}}</td>
              <td>{{#ifCond state '===' 'NEW'}}
                  <button class = "button1" data-id="{{_id}}" class="btn btn-default js-edit">Edit</button>
                  {{/ifCond}}
              </td>
          </tr>
          {{/each}}
          </tbody>
      </table>
    </script>
  </body>
</html>
