<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <link id="theme" rel="stylesheet" href="../../style/style.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="header">
          <h1>Bucket List</h1>
        </div>
        <div class="nav">
          <input id="styleSwitcher" type="checkbox" />
        </div>
        <div class="left"></div>
        <div class="content">
          <div class="flex">
            <h2 class="subtitle">Things to do</h2>
            <span class="spacer"></span>
            <button class="button1" id="navigateToListButton">
              Changed my mind
            </button>
          </div>
          <form id="thingForm">
            A thing for my bucket list:
            <input type="text" id="description" required />
            <br />
            Want to do this until:
            <input type="date" id="endDate" required /> <br />
          </form>
          <section id="relevance">
            <fieldset class="relevanceSet">
              <legend>Rate It</legend>
              <form id="relevanceForm">
                <input id="rel1" class="rel" name="rel" type="radio" required />
                <label forreleva="rel1" class="star fa fa-star-o fa-lg"></label>
                <input id="rel2" class="rel" name="rel" type="radio" />
                <label for="rel2" class="star fa fa-star-o fa-lg"></label>
                <input id="rel3" class="rel" name="rel" type="radio" />
                <label for="rel3" class="star fa fa-star-o fa-lg"></label>
                <input id="rel4" class="rel" name="rel" type="radio" />
                <label for="rel4" class="star fa fa-star-o fa-lg"></label>
                <input id="rel5" class="rel" name="rel" type="radio" />
                <label for="rel5" class="star fa fa-star-o fa-lg"></label>
              </form>
            </fieldset>
          </section>
          <button class="button1" id="submitButton">Save</button>
        </div>
        <div class="right"></div>
        <div class="footer"></div>
      </div>
    </main>
  </body>
  <script type="module" src="./create-bootstrapper.js" defer></script>
</html>
