<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
    <link id="theme" rel="stylesheet" href="../../style/style.css" />
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="header">
          <h1>Bucket List</h1>
        </div>
        <div class="nav">
          <label class="control control-checkbox">
           Ugly 
            <input id="styleSwitcher" type="checkbox" />
            <div class="control_indicator"></div>
          </label>
        </div>
        <div class="left"></div>
        <div class="content">
          <div class="flex">
            <h2 class="subtitle">Things to do</h2>
            <span class="spacer"></span>
            <button class="button1" id="navigateToListButton">
              Better not
            </button>
          </div>
          <form id="thingForm">
            A thing for my bucket list:
            <input type="text" id="description" required />
            Want to do this until:
            <input type="date" id="endDate" required />
            <fieldset id="relevanceSet" class="rating relevanceSet">
              <legend>Relevance</legend>
              <input type="radio" id="star5" name="rating" value="5" required/>
              <label class="full" for="star5" title="AYAYAYAY!!!"></label>
              <input type="radio" id="star4" name="rating" value="4" />
              <label class="full" for="star4" title="Ab geht die Luzi!"></label>
              <input type="radio" id="star3" name="rating" value="3" />
              <label class="full" for="star3" title="Jo cha me mache"></label>
              <input type="radio" id="star2" name="rating" value="2" />
              <label class="full" for="star2" title="Mal luege"></label>
              <input type="radio" id="star1" name="rating" value="1" />
              <label
                class="full"
                for="star1"
                title="Wenn nid hüt de morn"
              ></label>
            </fieldset>
            <button class="submitForm button1" id="submitButton">Save</button>
          </form>
        </div>
        <div class="right"></div>
        <div class="footer"></div>
      </div>
    </main>
  </body>
  <script type="module" src="./create-bootstrapper.js" defer></script>
</html>
