<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
  </head>
  <body>
    <main>
      <h1>Thing to do</h1>
      <form id="thingForm" onsubmit="submitThing(event)">
      Thing: <input type="text" id="thing" /> <br />
      Some more details:
      <input type="text" id="description" /> <br />
      <button>Save</button>
      </form>
      <br />
      <br />
      <a href="../../index.html"> Changed my mind!</a>
    </main>
    <script src="./create.js"></script>
  </body>
</html>
