<!DOCTYPE html>
<html>
  <head>
    <title>ProjectOne</title>
  </head>
  <body>
    <main>
      <h1>Thing to do</h1>
      <form id="thingForm">
        A thing for my bucket list: <input type="text" id="thing" /> <br />
        Want to do this until:
        <input type="date" id="date" /> <br />
        <button>Save</button>
      </form>
      <br />
      <br />
      <a href="../../index.html"> Changed my mind!</a>
    </main>
    <script type="module" src="./create.js"></script>
  </body>
</html>
